* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(219, 219, 219);
  /* display: flex; */
}

#game-board {
  width: 640px;
  height: 640px;
  display: flex;
  margin: auto;
  /* position: absolute; */
  /* text-align: center; */
  justify-content: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

#config-container {
  width: 33.33%;
  height: 50px;
  display: flex;
  /* justify-content: center; */
  margin: auto;
  border: 1px solid black;
}

.timer-container {
  width: 33.33%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.high-score-container {
  width: 33.33%;
  /* margin: auto; */
  padding: 10px;
  display: flex;
  justify-content: center;
}

.notification-container {
  display: flex;
  justify-content: center;
}

#notification-msg {
  color: white;
  font-size: 150%;
  background-color: green;
  text-align: center;
  width: 15%;
  border: 1px solid white;
  display: none;
}

#config-container > button {
  height: 75%;
  width: 50%;
  margin: auto;
}

.start-btn {
  background-color: green;
}

.reset-btn {
  background-color: red;
}

#header-container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.memory-card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: red;
  border: 2px solid deeppink;
  /* backface-visibility: hidden; */
}

.front-face {
  transform: rotateY(180deg);
}

@keyframes shuffle {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
